/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
}
