@use 'styles/main.scss';
/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';

:root {
  --primary-color-text: var(--primary-50);
  --bg-content-primary: var(--primary-color-text);
  --bg-control-primary: var(--primary-color-text);
  --nav-item-hover: var(--primary-200);
}

.pk-dark {
  --bg-content-primary: var(--surface-800);
  --bg-control-primary: var(--surface-700);
  --nav-item-hover: var(--surface-500);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  background-color: var(--bg-content-primary);
}

.bg-content-primary {
  background-color: var(--bg-content-primary);
}

.bg-control-primary {
  background-color: var(--bg-control-primary);
}

.pk-dark {
  body {
    background-color: var(--surface-900);
  }
}

input,
select,
option,
textarea {
  background-color: var(--bg-control-primary);
}

.pk-dark {
  .highlight-nav-item {
    &.active,
    &:hover {
      background-color: var(--nav-item-hover) !important;
    }
  }
}

.highlight-nav-item {
  &.active,
  &:hover {
    span,
    i {
      color: var(--primary-400);
    }
  }
}
