@use 'styles/main.scss';
/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
}

:root {
  --primary-color-text: var(--primary-50);
  --bg-content-primary: transparent;
}

.pk-dark {
  --bg-content-primary: var(--surface-900);
}

.bg-content-primary {
  background-color: var(--bg-content-primary);
}

.pk-dark {
  body {
    background-color: var(--surface-900);
  }
}
