<div class="w-18rem h-full">
  <!-- MENU GROUP -->
  <div class="flex flex-column gap-3">
    @for(group of sideBarGroup; track $index){
    <div class="py-4 px-2 border-round-xl bg-content-primary">
      <span class="font-bold text-xl ml-2">{{ group.title | tr }}</span>
      <div
        class="mt-4 flex flex-column justify-content-center nav-list row-gap-1"
      >
        @for(child of group.child; track child.id){
        <div
          (click)="onMenuItemClick(child)"
          [class.active]="selectedMenu()?.id === child?.id"
          class="highlight-nav-item px-3 cursor-pointer flex flex-row gap-3 py-3 border-round-lg transition-duration-200 align-items-center"
        >
          <i [class]="child.icon" class="text-xl"></i>
          <span class="font-medium">{{ child.label | tr }}</span>
        </div>
        }
      </div>
    </div>
    }
  </div>

  <!-- SETTING GROUP -->
  <div class="p-3 border-round-xl mt-3 bg-content-primary">
    <span class="font-bold text-xl">Settings</span>
    <div class="mt-4 flex flex-column gap-4">
      <div class="flex align-items-center">
        <label class="flex-1">Dark mode</label>
        <p-toggleswitch
          [(ngModel)]="darkModeValue"
          (onChange)="appStore.changeThemeMode()"
        />
      </div>
      <div class="flex align-items-center">
        <label class="flex-1">Vietnamese</label>
        <p-toggleswitch
          [(ngModel)]="isVietnamese"
          (onChange)="appStore.changeLanguage($event.checked)"
        />
      </div>
    </div>
  </div>
</div>
