<div class="w-screen h-screen">
  <div class="text-xl text-primary p-4">Tàng Kinh Code</div>
  <div
    style="height: calc(100vh - 72.5px); margin-top: -36px"
    class="w-full overflow-hidden flex flex-column justify-content-center align-items-center"
  >
    <div
      class="form-wrapper bg-content-primary w-20rem h-fit border-round-xl p-4 border-min border-solid"
    >
      <div class="form-header text-center flex flex-column row-gap-3">
        <div class="flex flex-column row-gap-2">
          <span class="pi pi-user text-2xl"></span>
          <span class="platform-name text-md"
            >TangKinh<span class="text-primary">Code</span></span
          >
        </div>
        <span class="block text-center text-2xl">
          {{ keyLangs.SIGN_IN | tr }}
        </span>
      </div>
      <form class="flex flex-column mt-4">
        <ng-contianer [ngTemplateOutlet]="signInTemplateRef"></ng-contianer>
        <ng-container *ngIf="isRegister()">
          <ng-contianer [ngTemplateOutlet]="signUpTemplateRef"></ng-contianer>
        </ng-container>
        <button
          type="button"
          (click)="signIn()"
          class="mb-2 mt-2 w-full px-4 py-2 border-round-md bg-primary border-none outline-none hover:bg-primary-300 transition-duration-200 cursor-pointer"
        >
          {{ keyLangs.SIGN_IN | tr }}
        </button>
        <div class="form-hint">
          <span class="text-xs text-color"
            >{{ questionHint() | tr }}
            <span
              class="text-primary hover:underline cursor-pointer transition-duration-200 hover:text-primary-300"
              (click)="changeTab()"
              >{{ actionHint() | tr }}</span
            ></span
          >
        </div>
        <p-divider align="center" type="solid">
          <span class="text-primary text-xs">{{ keyLangs.OR | tr }}</span>
        </p-divider>
        <div class="form-socia flex row-gap-2 justify-content-center">
          <button
            type="button"
            class="gap-2 cursor-pointer bg-transparent border-none outlint-none"
          >
            <span class="pi pi-github text-2xl"></span>
          </button>
          <button
            type="button"
            class="gap-2 flex cursor-pointer bg-transparent border-none outlint-none"
          >
            <img
              src="icons/google.svg"
              width="25"
              height="25"
              alt="Google icon"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #signInTemplateRef>
  <p-iconfield class="border-none outline-none mb-2">
    <p-inputicon styleClass="pi pi-email" />
    <input
      class="border-min w-full py-2 text-xs bg-content-primary border-solid transition-duration-200 focus:border-primary border-round-md px-2 outline-none"
      type="text"
      pInputText
      placeholder="Email"
    />
  </p-iconfield>
  <p-iconfield class="border-none outline-none mb-2">
    <p-inputicon styleClass="pi pi-password" />
    <input
      class="border-min w-full py-2 text-xs bg-content-primary border-solid transition-duration-200 focus:border-primary border-round-md px-2 outline-none"
      type="password"
      pInputText
      placeholder="Password"
    />
  </p-iconfield>
</ng-template>

<ng-template #signUpTemplateRef>
  <p-iconfield class="border-none outline-none mb-2">
    <p-inputicon styleClass="pi pi-password" />
    <input
      class="border-min w-full py-2 text-xs bg-content-primary border-solid transition-duration-200 focus:border-primary border-round-md px-2 outline-none"
      type="password"
      pInputText
      placeholder="Confirm password"
    />
  </p-iconfield>
</ng-template>
