<div class="w-screen h-screen">
  <pk-top-bar></pk-top-bar>

  <div
    style="height: calc(100vh - 69.5px)"
    class="w-full overflow-hidden flex justify-content-center"
  >
    <div
      class="m-auto bg-content-primary form-wrapper w-11 sm:w-22rem xl:w-24rem max-w-full h-30rem border-round-xl p-4"
    >
      <div class="form-header text-center flex flex-column row-gap-3">
        <div class="flex flex-column row-gap-2">
          <span class="pi pi-user text-2xl"></span>
          <span class="platform-name text-md text-color"
            >TangKinh<span class="text-primary">Code</span></span
          >
        </div>
        <span class="block text-center text-2xl text-color">
          {{ keyLangs.signIn | tr }}
        </span>
      </div>
      <form
        class="flex flex-column mt-4"
        [formGroup]="authForm"
        (submit)="submit()"
      >
        <!-- Email -->
        <p-iconfield class="border-none outline-none mb-2">
          <p-inputicon styleClass="pi pi-email"></p-inputicon>
          <input
            class="text-color placeholder-xs border-min w-full py-2 text-xs border-solid transition-duration-200 focus:border-primary border-round-md px-2 outline-none"
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </p-iconfield>
        @if(authForm.get('email')?.touched && authForm.get('email')?.invalid){
        <small class="text-red-500">{{ keyLangs.invalidEmail | tr }}</small>
        }

        <!-- Password -->
        <p-iconfield class="border-none outline-none mb-2">
          <p-inputicon styleClass="pi pi-password"></p-inputicon>
          <input
            class="text-color placeholder-xs border-min w-full py-2 text-xs border-solid transition-duration-200 focus:border-primary border-round-md px-2 outline-none"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </p-iconfield>

        @if(authForm.get('password')?.touched){
        @if((authForm.get('password')?.value?.length?? 0 )< 8){
        <small class="text-red-500">{{
          keyLangs.passwordMustAtLeast8Char | tr
        }}</small>
        } }

        <!-- Confirm Password (only in SignUp mode) -->
        <ng-container *ngIf="isRegister()">
          <p-iconfield class="border-none outline-none mb-2">
            <p-inputicon styleClass="pi pi-password"></p-inputicon>
            <input
              class="text-color placeholder-xs border-min w-full py-2 text-xs border-solid transition-duration-200 focus:border-primary border-round-md px-2 outline-none"
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
          </p-iconfield>
          @if(authForm.get('confirmPassword')?.touched){
          @if(authForm.get('confirmPassword')?.value !==
          authForm.get('password')?.value){
          <small class="text-red-500">{{
            keyLangs.confirmPasswordDoesnotMatch | tr
          }}</small>
          } }
        </ng-container>

        <button
          type="submit"
          pRipple
          class="cursor-pointer mb-2 mt-2 w-full px-4 py-2 border-round-md bg-primary border-none outline-none hover:bg-primary-300 transition-duration-200 cursor-pointer"
        >
          {{ actionBtnLabel() | tr }}
        </button>
        <div class="form-hint">
          <span class="text-color text-xs text-color"
            >{{ questionHint() | tr }}
            <span
              class="text-primary hover:underline cursor-pointer transition-duration-200 hover:text-primary-300"
              (click)="changeTab()"
              >{{ actionHint() | tr }}</span
            ></span
          >
        </div>
        <p-divider align="center" type="solid">
          <span class="text-primary text-xs">{{ keyLangs.or | tr }}</span>
        </p-divider>

        <div class="form-socia flex row-gap-2 justify-content-center">
          <button
            type="button"
            (click)="githubSignIn()"
            class="gap-2 cursor-pointer bg-transparent border-none outlint-none"
          >
            <span class="pi pi-github text-2xl"></span>
          </button>

          <button
            type="button"
            (click)="googleSignIn()"
            class="gap-2 flex cursor-pointer bg-transparent border-none outlint-none"
          >
            <img
              src="icons/google.svg"
              width="25"
              height="25"
              alt="Google icon"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />
