<div class="w-screen h-screen">
  <pk-top-bar></pk-top-bar>

  <div
    style="height: calc(100vh - 69.5px)"
    class="w-full overflow-hidden flex justify-content-center"
  >
    <div
      class="m-auto bg-content-primary form-wrapper w-11 sm:w-22rem xl:w-24rem max-w-full h-30rem border-round-xl p-4"
    >
      <div class="form-header text-center flex flex-column row-gap-3">
        <div class="flex flex-column row-gap-2">
          <span class="pi pi-user text-2xl"></span>
          <span class="platform-name text-md text-color"
            >TangKinh<span class="text-primary">Code</span></span
          >
        </div>
        <span class="block text-center text-2xl text-color">
          {{ keyLangs.signIn | tr }}
        </span>
      </div>
      <form
        class="flex flex-column mt-4"
        [formGroup]="authForm"
        (submit)="submit()"
      >
        <!-- Email -->
        <pk-input
          formControlName="email"
          [placeholder]="keyLangs.email | tr"
          iconClass="pi pi-email"
        >
          @if((authForm.controls.email.errors?.['required'] ||
          authForm.controls.email.errors?.['email']) &&
          authForm.controls.email.touched){
          <small class="text-red-500">{{ keyLangs.invalidEmail | tr }}</small>
          }@else {
          <ng-container [ngTemplateOutlet]="preserveWhite"></ng-container>
          }
        </pk-input>
        <div class="mt-2"></div>

        <!-- Password -->
        <pk-input
          formControlName="password"
          [placeholder]="keyLangs.password | tr"
          iconClass="pi pi-password"
          type="password"
        >
          @if(authForm.controls.password.touched){
          @if(authForm.controls.password.errors?.['required'] ||
          authForm.controls.password.errors?.['minLength']){
          <small class="text-red-500">{{
            keyLangs.passwordMustAtLeast8Char | tr
          }}</small>
          } @if(authForm.controls.password.errors?.['pattern']){
          <small class="text-red-500">{{
            keyLangs.passwordMustContains1Number | tr
          }}</small>
          } }@else {
          <ng-container [ngTemplateOutlet]="preserveWhite"></ng-container>
          }
        </pk-input>

        <!-- Confirm Password (only in SignUp mode) -->
        @if(isRegister()){
        <div class="mt-2"></div>
        <pk-input
          formControlName="confirmPassword"
          [placeholder]="keyLangs.confirmPassword | tr"
          iconClass="pi pi-password"
          type="password"
        >
          @if(authForm.controls.confirmPassword.errors?.['passwordMisMatch'] &&
          authForm.controls.confirmPassword.touched){
          <small class="text-red-500">{{
            keyLangs.confirmPasswordDoesnotMatch | tr
          }}</small>
          }@else {
          <ng-container [ngTemplateOutlet]="preserveWhite"></ng-container>
          }
        </pk-input>
        }
        <button
          type="submit"
          pRipple
          class="cursor-pointer mb-2 mt-2 w-full px-4 py-2 border-round-md bg-primary border-none outline-none hover:bg-primary-300 transition-duration-200 cursor-pointer"
        >
          {{ actionBtnLabel() | tr }}
        </button>
        <div class="form-hint">
          <span class="text-color text-xs text-color"
            >{{ questionHint() | tr }}
            <span
              class="text-primary hover:underline cursor-pointer transition-duration-200 hover:text-primary-300"
              (click)="changeTab()"
              >{{ actionHint() | tr }}</span
            ></span
          >
        </div>
        <p-divider align="center" type="solid">
          <span class="text-primary text-xs">{{ keyLangs.or | tr }}</span>
        </p-divider>

        <div class="form-socia flex row-gap-2 justify-content-center">
          <button
            type="button"
            (click)="githubSignIn()"
            class="gap-2 cursor-pointer bg-transparent border-none outlint-none"
          >
            <span class="pi pi-github text-2xl"></span>
          </button>

          <button
            type="button"
            (click)="googleSignIn()"
            class="gap-2 flex cursor-pointer bg-transparent border-none outlint-none"
          >
            <img
              src="icons/google.svg"
              width="25"
              height="25"
              alt="Google icon"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast />

<ng-template #preserveWhite>
  <pre class="m-0">&ngsp;</pre>
</ng-template>
