<section
  class="new-feed-item flex flex-column border-1 border-content-primary p-4 border-round-2xl bg-content-primary"
>
  <section class="header flex mb-2">
    <section class="w-fit h-fit">
      <p-avatar
        image="{{ data().author.avatarUrl }}"
        class="mr-2"
        size="large"
        shape="circle"
      />
    </section>
    <section>
      <div class="flex align-items-center gap-1">
        <span
          class="text-sm text-color cursor-pointer hover:underline underline-offset-1"
          (click)="authorClick.emit(data().author)"
          >{{ data().author.nickName }}</span
        >
        <span class="pi pi-angle-right text-xs"></span>
        <a
          class="text-color opacity-80 hover:underline cursor-pointer underline-offset-1"
          (click)="guildClick.emit(data().author.guild)"
          >{{ data().author.guild.name }}</a
        >
      </div>
      <div class="text-xs mt-1 opacity-90">
        {{ data().post.createdAt | timeAgo }}
      </div>
    </section>
  </section>
  <section class="content mb-2">
    <section class="text-content">
      <div class="p-0 m-0 text-lg font-bold">{{ data().post.title }}</div>
      <div
        class="line-height-3 mt-3 text-sm"
        [innerHTML]="data().post.content"
      ></div>
    </section>
    @if(data().post.mediaUrl.length){
    <ng-containter
      [ngTemplateOutlet]="mediaTemplate"
      [ngTemplateOutletContext]="{ $implicit: data().post.mediaUrl }"
    ></ng-containter>
    }
  </section>
  <section class="footer flex gap-2 mt-2">
    <p-button
      icon="pi pi-thumbs-up-fill"
      severity="primary"
      text
      label="{{ data().post.like }}"
    />
    <p-button
      icon="pi pi-thumbs-down"
      severity="secondary"
      text
      label="{{ data().post.dislike }}"
    />
    <p-button icon="pi pi-comment" severity="secondary" text label="33" />
  </section>
</section>

<ng-template #mediaTemplate let-data>
  <section
    class="media-content mt-4 flex justify-content-center relative border-round-lg"
  >
    <div class="background-blur"></div>
    @for (url of data; track $index) {
    <div class="image-wrapper w-full h-full flex justify-content-center">
      <img
        class="content-img cursor-pointer"
        alt="content-img"
        [src]="url"
        priority
        loading="eager"
        (click)="imageClick.emit(url)"
      />
    </div>
    }
  </section>
</ng-template>
