body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  background-color: var(--surface-100);
  color: var(--surface-700);
  font-size: 14px;
}


