.underline-offset-1 {
  text-underline-offset: 2px;
}

.underline-offset-2 {
  text-underline-offset: 4px;
}

.underline-offset-3 {
  text-underline-offset: 6px;
}

.underline-offset-4 {
  text-underline-offset: 8px;
}
