<section
  class="flex flex-column align-items-center justify-content-center h-screen text-center"
>
  <h2>{{ keyLang.verifyEmail | tr }}</h2>
  <ng-container [ngTemplateOutlet]="currentToken() ? fromMail : fromPlatform">
  </ng-container>
</section>

<ng-template #fromMail>
  <p-progressSpinner></p-progressSpinner>
</ng-template>

<ng-template #fromPlatform>
  <div>
    {{ keyLang.weHaveSentYouAnVerificationEmail | tr }}
  </div>
  <ng-container *ngIf="remainingTime() > 0; else resendOption">
    <div class="text-sm text-gray-600 mt-2">
      {{ getResendWaitMessage() }}
    </div>
  </ng-container>
  <ng-template #resendOption>
    <div
      class="mt-2"
      [pkSafeHtml]="getResendEmailMessage()"
      [clickCallback]="resendEmail"
    ></div>
  </ng-template>
</ng-template>
